[submodule "packages/boltz"]
	path = packages/boltz
	url = git@github.com:SatoshiPortal/boltz-dart.git
[submodule "packages/lwk"]
	path = packages/lwk
	url = git@github.com:SatoshiPortal/lwk-dart.git
[submodule "packages/bbqr"]
	path = packages/bbqr
	url = git@github.com:SatoshiPortal/bbqr-dart.git
[submodule "packages/bitbox"]
	path = packages/bitbox
	url = git@github.com:SatoshiPortal/bitbox-dart.git
